mnt/*
*.out
.vscode
.github
*.orig
*~
Makefile.in
Makefile
*.m4
stamp-h*
config.*
fuse_module/libfuse/ltmain.sh
fuse_module/libfuse/configure
fuse_module/libfuse/install-sh
fuse_module/libfuse/mkinstalldirs
fuse_module/libfuse/missing
fuse_module/libfuse/*.cache
fuse_module/libfuse/depcomp
fuse_module/libfuse/compile
fuse_module/libfuse/libtool
fuse_module/libfuse/INSTALL
fuse_module/libfuse/*.pc
fuse_module/libfuse/.pc
fuse_module/libfuse/patches*
fuse_module/libfuse/m4
TAGS
fuse_module/libfuse/GPATH
fuse_module/libfuse/GRTAGS
fuse_module/libfuse/GSYMS
fuse_module/libfuse/GTAGS
fuse_module/libfuse/test/test_setattr
fuse_module/libfuse/build
.vscode